# TODO change some things once they are ready: import of hoinetx in first cell, and data loading below.

In [1]:
import sys

import numpy as np

sys.path.append("..")
from hoinetx.core import Hypergraph
from hoinetx.filters import get_svh, get_svc

np.random.seed(123)

## Extract Statistically Validated Hypergraph

# TODO change data loading once hoinetx module is available

In [2]:
def line_to_hyperedge(line):
    hye = line
    hye = line.strip("\n")
    hye = [int(node) for node in line.split(" ")]
    return hye

def line_to_weight(line):
    return int(line.strip("\n"))

In [3]:
# Load Justice dataset.
with open("./_example_data/justice_data/hyperedges.txt", "r") as hye_file:
    hyes = list(map(line_to_hyperedge,hye_file.readlines()))
with open("./_example_data/justice_data/weights.txt", "r") as weight_file:
    weights = list(map(line_to_weight,weight_file.readlines()))
    
weighted_hyes = []
for hye,weight in zip(hyes,weights):
    weighted_hyes.extend([hye]*weight)

justice = Hypergraph(weighted_hyes,weighted=True)

In [ ]:
justice_svh = get_svh(justice,
              approximate_pvalue=True,
              mp=True)

### Show Statistically Validated Hyperlinks

In [5]:
order = 2
svh[order].query('fdr')

         edge        pvalue   fdr
1      (0, 2)  1.186904e-60  True
22     (1, 6)  7.192356e-05  True
24     (1, 8)  2.210969e-13  True
49     (3, 5)  1.153760e-16  True
53     (4, 7)  2.501053e-35  True
68     (8, 9)  2.931209e-06  True
73    (9, 12)  7.456268e-18  True
75    (9, 14)  3.458745e-05  True
81   (11, 17)  6.734703e-05  True
85   (12, 15)  4.004282e-24  True
96   (13, 19)  1.645878e-76  True
132  (20, 21)  5.618608e-06  True
133  (20, 22)  2.346363e-08  True
134  (20, 23)  1.421147e-11  True
139  (21, 24)  9.122267e-07  True
160  (24, 30)  2.371769e-05  True
161  (24, 31)  3.748224e-05  True
171  (26, 29)  1.257113e-53  True
181  (27, 32)  4.729259e-06  True
185  (28, 30)  1.426895e-04  True
191  (29, 33)  4.870316e-19  True
193  (29, 36)  9.671574e-10  True
195  (30, 31)  9.654795e-11  True
198  (30, 34)  4.293666e-20  True
205  (32, 33)  7.718603e-10  True
212  (34, 35)  2.639628e-06  True

## Extract Statistically Validated Cores

In [7]:
# Load Walmart dataset.
with open("./_example_data/walmart_data/walmart-trips-reduced.txt", "r") as hye_file:
    hyes = list(map(line_to_hyperedge,hye_file.readlines()))
    
walmart = Hypergraph(hyes,weighted=True)

In [8]:
walmart_svc = get_svc(walmart,
                      alpha=0.01,
                      approximate_pvalue=True,
                      max_order=4)

### Show Statistically Validated Cores

In [10]:
walmart_svc.query('fdr')

                               group        pvalue  w   fdr
628         (1171, 1172, 1173, 1174)  2.217688e-24  2  True
9945    (13025, 13026, 13027, 13028)  8.870750e-26  2  True
10224    (8221, 11743, 11744, 13335)  1.439536e-25  3  True
10229    (8221, 11743, 13335, 13337)  5.063135e-26  3  True
10235    (8221, 11744, 13335, 13337)  1.439536e-25  3  True
...                              ...           ... ..   ...
170130                 (4366, 22214)  1.331710e-09  4  True
172708                 (6697, 16219)  8.228270e-14  6  True
176262                 (4295, 45424)  1.000230e-09  4  True
178515                 (5592, 17700)  8.656730e-10  3  True
191548                (41702, 75090)  8.526620e-12  3  True

[678 rows x 4 columns]